*{
    font-family: "Tahoma", sans-serif;
}
.author_block {
    margin-bottom: 20px;
    background: white;
}

.author_block img{
    width: 100px;
    height: 150px;
}

.author_block p{
    display: inline-block;
    font-size: 18px;
}

.author_block a{
    color: black;
}

/*Страница автора*/

.author {
    margin: 15px auto 10px auto;
}


.author p {
    display: inline-block;
    background: white;
}

.author img{
    margin-bottom: 20px;
}