{% extends 'base.html' %}

{% block title %}Страница автора{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
        <div class="author text-center w-75">
            <div class="author_change">
                {% if user.is_authenticated %}
                    <a href="{% url 'webapp:author_update' author.pk%}">Редактировать</a>
                {% endif %}
            </div>
            <h3>{{ author.name }}</h3>
                <div class="info_author">
                    <p>{{ author.date_born }} - </p>
                    {% if author.date_die == None %}
                        <p>Ещё живой</p>
                    {% else %}
                        <p>{{ author.date_die }}</p>
                    {% endif %}
                </div>
                {% if author.photo %}
                    <img src="{{ author.photo.url }}" alt="">
                {% endif %}
            <p>{{ author.biography }}</p>
        </div>
        <div class="author_book row">
            {% for book in author.book.all %}
                <div class="col-3">
                    <img src="{{ book.image.url }}" alt="">
                </div>
            {% endfor %}
        </div>
{% endblock %}