{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Авторы{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <h3>Список авторов</h3>
    {% for author in author_list %}
        <div class="author_block">
        {% if author.is_deleted == False %}
            {% if author.photo %}
                <a href="{% url 'webapp:author_detail' author.pk %}"><img src="{{ author.photo.url }}" alt=""></a>
            {% else %}
                <a href="{% url 'webapp:author_detail' author.pk %}"><img src="{% static 'nophoto.png' %}" alt=""></a>
            {% endif %}
            <a href="{% url 'webapp:author_detail' author.pk %}"><p>{{ author.name }}</p></a>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}