{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Страница автора{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
        <div class="author text-center w-75">
            <div class="author_change">
                {% if user.is_authenticated %}
                    <a href="{% url 'webapp:author_update' author.pk%}">Редактировать</a>
                {% endif %}
            </div>
            <h3>{{ author.name }}</h3>
                <div class="info_author">
                    {% if author.date_born == None %}
                        <p>Дата не известна - </p>
                    {% else %}
                        <p>{{ author.date_born }}</p>
                    {% endif %}
                    {% if author.date_die == None %}
                        <p>Ещё живой</p>
                    {% else %}
                        <p>{{ author.date_die }}</p>
                    {% endif %}
                </div>
                {% if author.photo %}
                    <img src="{{ author.photo.url }}" alt="">
                {% else %}
                    <img src="{% static 'nophoto.png' %}" alt="">
                {% endif %}
            <p>{{ author.biography }}</p>
        </div>
        <div class="author_book row">
            {% for book in author.book.all %}
                <div class="col-3">
                {% if book.image %}
                    <img src="{{ book.image.url }}" alt="">
                {% else %}
                    <img src="{% static 'no_book.png' %}" alt="">
                {% endif %}
                </div>
            {% endfor %}
        </div>
{% endblock %}