{% extends 'base.html' %}

{% block title %}Книги{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <h3>Список книг</h3>
    <div class="book_block row">
    {% for book in book_list %}
            <div class="col-3 card mr-5 p-0">
                <div class="text-center book_image">
                    <img src="{{ book.image.url }}" alt="" class="w-100">
                </div>
                <p>{{ book.description }}</p>
            </div>
    {% endfor %}
    </div>
{% endblock %}