{% extends 'base.html' %}

{% block title %}Книга{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
        <div class="author text-center w-75">
            <div class="author_change">
                {% if user.is_authenticated %}
                    <a href="{% url 'webapp:book_update' book.pk%}">Редактировать</a>
                {% endif %}
            </div>
            <h3>{{ book.name }}</h3>
                <div class="info_book">
                    <p>{{ book.publication }} г. </p>
                </div>
                {% if book.image %}
                    <img src="{{ book.image.url }}" alt="" class="w-25">
                {% endif %}
            <p>{{ book.description }}</p>
        </div>
{% endblock %}